.cabecalhoPrincipal .container {
	
	/*Define o container que está dentro do cabeçalho principal como flex
	  Isso significa que agora esse container é um flexbox, uma caixa flex*/
	display: flex;

	/*Alinhar verticalmente ao centro, alinha os elementos que estão dentro do container flex ao centro */
	align-items: center; 

	/*Pegue o espaço que sobra a direita do container e coloca ele no meio entre os dois elementos*/
	justify-content: space-between;
}

/* Colocar os itens do menu do cabeçalho, um do lado do outro, para isso eu pego o pai deles que é o
	elemento nav e transformo ele numa flexbox */
.cabecalhoPrincipal-nav {
	display: flex;
}